//palette identité Médor -------------

//bleu gris foncé
@color-A2: rgba(42, 133, 164, 255);
//brun foncé
@color-A3: rgba(177, 69, 66, 255);
//ajune total
@color-A4: rgba(255, 254, 53, 255);
//vert gazon
@color-A4: rgba(57, 145, 79, 255);

//rouge brun
@color-B2: rgba(219, 40, 35, 255);
//jaune clair
@color-B3: rgba(255, 253, 115, 255);
//vert clair
@color-B4: rgba(225, 241, 122, 255);
//bleu ciel
@color-C1: rgba(137, 203, 225, 255);
//rouge
@color-C2: rgba(249, 49, 52, 255);
//orange
@color-C3: rgba(250, 181, 71, 255);
//beige verdâtre
@color-C4: rgba(243, 253, 207, 255);
//bleu gris clair
@color-D1: rgba(169, 213, 222, 255);
//orange clair
@color-D3: rgba(247, 229, 149, 255);
//beige
@color-E1: rgba(233, 234, 225, 255);
//nacre
@color-E3: rgba(254, 250, 194, 255);
//rose peteur
@color-F2: rgba(243, 225, 226, 255);


// ___ COULEURS SITE WEB ___

@noir: #171216;
@gris-clair: #FCF9F9;

@gris-brun: #BFBDA7;
@gris-rose: #E0D9D2;
@gris: #EBEBEB;

@bleu-nuit: #01084F;
@bleu-fonce: #01385E;
@bleu: #6D81C4;
@bleu-ciel: #C2E8FD;

@vert-bleu: #41907A;
@vert: #93B77B;
@vert-bleu-clair: #9AE2C3;
@vert-pale: #D1EAC2;

@mauve: #B07EB1;
@mauve-clair: #E3C4E5;
@saumon: #FFAAAA;
@orange: #FF754E;

@jaune: #FFDB16;
@jaune-clair: #FEED55;
@jaune-pale: #FFFF96;
