/**
 * This file holds the declaration of the fonts used in our layout.
 */

@font-face {
    font-family: 'Alfphabet';
    src: url('/fonts/Alfphabet_type1.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alfphabet';
    src: url('/fonts/Alfphabet_type1-oblique.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alfphabet-Condensed';
    src: url('/fonts/alfphabetbipocat-condensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alfphabet-Condensed';
    src: url('/fonts/Alfphabet-Condensed-oblique.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alfphabet-Extended';
    src: url('/fonts/Alfphabet_type4.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bagnard';
    src: url('/fonts/bagnard-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bagnard';
    src: url('/fonts/Bagnard-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bagnard';
    src: url('/fonts/Bagnard-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Bagnou';
    src: url('/fonts/Bagnou.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belgika5th';
    src: url('/fonts/belgika-5th-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belgika8th';
    src: local("Belgika"), url('/fonts/belgika-8th-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belgika40th';
    src: local("Belgika"), url('/fonts/belgika-40th-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belogodor';
    src: url('/fonts/Belogodor.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'career';
    src: local("Career"), url('/fonts/Career_Salle13.ttf') format('opentype');
}

@font-face {
    font-family: 'Century Schoolbook';
    src: local("TeX Gyre Schola"), url('/fonts/texgyreschola-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: local("TeX Gyre Schola"), url('/fonts/texgyreschola-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: local("TeX Gyre Schola"), url('/fonts/texgyreschola-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: local("TeX Gyre Schola"), url('/fonts/texgyreschola-bolditalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Evening';
    src: local("Evening"), url('/fonts/Evening-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Erbarre';
    src: local("Erbarre"), url('/fonts/Erbarre.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Erbarre';
    src: local("Erbarre"), url('/fonts/Erbarre-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Erbarre';
    src: local("Erbarre"), url('/fonts/Erbarre-Oblique.otf') format("opentype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Erbarre';
    src: local("Erbarre"), url('/fonts/Erbarre-BoldOblique.otf') format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FauneDB';
    src: url('/fonts/Faune-DisplayBlack.otf') format("opentype");
    font-weight: black;
    font-style: normal;
}

@font-face {
    font-family: 'FauneDBI';
    src: url('/fonts/Faune-DisplayBoldItalic.otf') format("opentype");
    font-weight: bold;
    font-style: italic;
}

// @font-face {
//     font-family: 'Faune-DisplayThin';
//     src: url('/fonts/Faune-DisplayThin.otf') format("opentype");
//     font-weight: thin;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'Faune-Bold';
//     src: url('/fonts/Faune-TextBold.otf') format("opentype");
//     font-weight: bold;
//     font-style: normal;
// }

@font-face {
    font-family: 'Faune-Italic';
    src: url('/fonts/Faune-TextItalic.otf') format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Faune-Regular';
    src: url('/fonts/Faune-TextRegular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode';
    src: local("Junicode"), url('/fonts/Junicode-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode';
    src: local("Junicode-Italic"), url('/fonts/Junicode-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode';
    src: local("Junicode-BoldItalic"), url('/fonts/Junicode-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Junicode';
    src: local("Junicode-Bold"), url('/fonts/Junicode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode Condensed';
    src: local("Junicode-RegularCondensed"), url('/fonts/Junicode-RegularCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode Condensed';
    src: local("Junicode-ItalicCondensed"), url('/fonts/Junicode-ItalicCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Junicode Condensed';
    src: local("Junicode-BoldItalicCondensed"), url('/fonts/Junicode-BoldItalicCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Junicode Condensed';
    src: local("Junicode-BoldCondensed"), url('/fonts/Junicode-BoldCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Medor';
    src: local("Medor"), url('/fonts/medor-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nobel';
    src: url('/fonts/Font-Bureau-Nobel-Book.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nobel';
    src: url('/fonts/Font-Bureau-Nobel-BookItalic.otf');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'TGL12096';
    src: url('/fonts/TGL12096.ttf');
    font-weight: normal;
    font-style: normal;
}

/* -------- TESTS TYPO - TITRE RUBRIQUES --------- */

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eyechart';
    src: url('/fonts/Eyechart.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vorgang';
    src: url('/fonts/Vorgang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Breite';
    src: url('/fonts/DIN1451-36breit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Over';
    src: url('/fonts/overpass-thin.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-D';
    src: url('/fonts/D-DINCondensed-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CareerTurning';
    src: url('/fonts/Career_Turning.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hershey-Medor';
    src: url('/fonts/Hershey-Noailles-timesr-orimedor.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Hershey-Medor-edit';
  src: url('/fonts/timesr-medor.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Preussische';
    src: url('/fonts/PreussischeVI9.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hershey-timesb';
    src: url('/fonts/Hershey-Noailles-timesb.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AVHersheyComplex';
    src: url('/fonts/AVHersheyComplexMedium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AVHersheyDuplex';
    src: url('/fonts/AVHersheyDuplexMedium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HersheyGoth';
    src: url('/fonts/gothic-medor.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HersheyFuturam';
    src: url('/fonts/Hershey-Noailles-futuram.otf');
    font-weight: normal;
    font-style: normal;
}

/* -------- TESTS TYPO - TITRAGE ENQUETE --------- */

@font-face {
  font-family: 'Pressuru';
    src:  url('/fonts/Pressuru.ttf.woff') format('woff'),
    url('/fonts/Pressuru.ttf.svg#Pressuru') format('svg'),
    url('/fonts/Pressuru.ttf.eot'),
    url('/fonts/Pressuru.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Bold.otf');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Messapia';
  src: url('/fonts/Messapia-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Deconst';
  src: url('/fonts/Deconst.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jost-Light';
  src: url('/fonts/Jost-300-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jost-Thin';
  src: url('/fonts/Jost-200-Thin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jost-Hair';
  src: url('/fonts/Jost-100-Hairline.otf');
  font-weight: normal;
  font-style: normal;
}
