/**
 * Macro-structure
 * ===============
 */

.main,
.main:before,
.main:after { position: absolute; }

.main:before,
.main:after { z-index: 500; }


/**
 * Zone de composition principale
 * ------------------------------
 */

.main {
    top: @page-margin-top;
    bottom: @page-margin-bottom;
}

/* TODO: move into grid.less? */
.bloc { position: absolute; z-index: 500; }
.debug .header,
.debug .footer,
.debug .main,
.debug .bloc { outline: 1px solid purple; }

/**
 * Pieds de page
 * -------------
 */

.main:before,
.main:after {
    display: block;
    font-family: "Belgika8th", sans-serif;
    font-size: 6pt;
    line-height: @line-height;
    letter-spacing: 0.25pt;
    z-index: 500;
}

.main:before,
.main:after { bottom: @line-height * -3; }

html:not(.facing) .sheet:nth-child(even) .main:before,
html.facing .sheet:nth-child(odd) .main:before { content: "Ici le titre de l'article"; }

html:not(.facing) .sheet:nth-child(odd) .main:before,
html.facing .sheet:nth-child(even) .main:before { content: "Médor — hiver 2022-2023"; }

// hides running title on the first page
.sheet:nth-of-type(1) .main:before { display: none; }

.main:after  { content: counter(folio); z-index: 499;}



/**
 * Miroir
 * -------
 */

/**
 * Placement en miroir des éléments en fonction de si ils se trouvent sur une
 * page paire ou une page impaire, en utilisant le pseudo-sélecteur `nth-child`
 */

html:not(.facing) .sheet:nth-child(odd) .main,
html.facing .sheet:nth-child(even) .main {
    right: @page-margin-outside;
    left: @page-margin-inside;
}

html:not(.facing) .sheet:nth-child(even) .main,
html.facing .sheet:nth-child(odd) .main {
    left: @page-margin-outside;
    right: @page-margin-inside;
}

html:not(.facing) .sheet:nth-child(odd) .main:before,
html.facing .sheet:nth-child(even) .main:before {
    .x1();
    .w4();
}
html:not(.facing) .sheet:nth-child(even) .main:before,
html.facing .sheet:nth-child(odd) .main:before {
    .x5();
    .w4();
}
html:not(.facing) .sheet:nth-child(odd) .main:after,
html.facing .sheet:nth-child(even) .main:after {
    .x5();
    .w1();
    text-align: left;
}
html:not(.facing) .sheet:nth-child(even) .main:after,
html.facing .sheet:nth-child(odd) .main:after {
    .x1();
    .w1();
    text-align: left;
}
