/**
 * Flux
 * ====================================================================
 */

 .flow-into(@flow) {
  -webkit-flow-into: @flow;
          flow-into: @flow;
}

.flow-from(@flow) {
  -webkit-flow-from: @flow;
          flow-from: @flow;
}

/**
* Footer
* ====================================================================
*/

// Pas de footer sur ces pages
.no-footer(@page) {
  .sheet:nth-of-type(@{page}) .main:before,
  .sheet:nth-of-type(@{page}) .main:after { content: ""!important }
}
.no-title-footer(@page) {
  .sheet:nth-of-type(@{page}) .main:before { content: ""!important }
}
.no-page-footer(@page) {
  .sheet:nth-of-type(@{page}) .main:after { content: ""!important }
}

/**
* IMAGES
* ====================================================================
*/

// Image en double
.double(@class, @decal-top: 0,@decal-left: 0, @pageA: 1, @pageB: 2){
  @className: ~"@{class}";
  @{className}{
    background-repeat: no-repeat;
    z-index: 0;
  }
  .sheet:nth-of-type(@{pageA}) @{className}{
    background-position:  @decal-left @decal-top;
  }
  .sheet:nth-of-type(@{pageB}) @{className}{
    background-position:  -@page-width+@decal-left @decal-top;
  }
}

// remet l'image n en style de flow
// peut s'utiliser inclu dans un autre div, ex: .aside{ .flow-figure(1) }
.flow-figure(@number){
  figure:nth-of-type(@{number}){
    height: auto;
    // stay in flow
    -webkit-flow-into: none !important;
            flow-into: none !important;
  }
  figure:nth-of-type(@{number}) > img{
    height: 100%;
    position: relative;
  }
}

// add back the credits
.show-credits(){
  figcaption footer{
    display: block;
  }
}

/**
* PULLOUT
* ====================================================================
*/

// Rentrer / sortir les exergues de la colone vide
.pull-out-out(@number){
  blockquote.pull-out:nth-of-type(@{number}){
    margin-left: -@col-gutter-width;
  }
}
.pull-out-in(@number){
  blockquote.pull-out:nth-of-type(@{number}){
    margin-left: 0;
  }
}

// hide exergue while keeping the next paragraph indented
.hide-pull-out(@number){
  blockquote.pull-out:nth-of-type(@{number}){
    display: none;
  }
  blockquote.pull-out:nth-of-type(@{number}) + p{
    text-indent: 12pt;
  }
}

/**
* CAPTIONS
* ====================================================================
*/

// corrige la position des figcaption quand elles ne sont pas directement en dessous de l'image
.freecap(@number){
  figure:nth-of-type(@{number}) figcaption{
    position: static;
    top: auto;
    margin-top: 3pt;
  }
}
.freecap-all(){
  figure figcaption{
    position: static;
    top: auto;
    margin-top: 3pt;
  }
}
.lockcap(@number){
  // put back to default style
  figure:nth-of-type(@{number}) figcaption{
    position: absolute;
    top: 100%;
    margin-top: 6pt;

    // stay in flow
    -webkit-flow-into: none !important;
            flow-into: none !important;
  }
}

/**
* OTHERS
* ====================================================================
*/

// donne a un element une hauteur d'un multiple fixe de ligne fixe
// s'utlise a l'intérieur d'un sélecteur, .figure{ .height-line(10) }
.height-lines(@height){
  height: @line-height * @height;
}

// fonction de déformation
.trans(@rotate, @skew, @originY, @originX) {
  -webkit-transform: skewY(@skew) rotate(@rotate);
          transform: skewY(@skew) rotate(@rotate);
  -webkit-transform-origin: @originY @originX;
          transform-origin: @originY @originX;
}

// pour ajouter un dingbat après le dernier-n paragraphe
// ex: .dingbat(1) pour le dernier paragraphe, .dingbat(2) pour l'avant dernier
// peut s'utiliser inclu dans un autre div, ex: aside{ .dingbat(1) }
.dingbat(@number: 1){
  p:nth-last-of-type(@{number})::after{
    font: 6.5pt 'Belogodor';
    content: '\00A0\E887';
  }
}
