/**
 * CONTENT
 *
 * GENERAL STYLES                 OK
 *
 * SPECIFIC STYLES
 * edito                          ok
 * sommaire                       ok
 * rubric                         ok
 * pub
 * bd
 * enquete                        ok
 * page d'intro cahier 2
 * medor a colorier             ???
 * portfolio
 * portrait                    VERIF
 * moment flamand
 * recit
 * entretien                     ok
 * nombril de medor             VERIF
 * soutenir medor
 * couv

 * web
 * droit

 */

/**
 * #VARIABLES
 */

 @line-height: 12pt;

 /**
  * #ADDITIONAL RESETS
  */
 
 .page { text-rendering: optimizeLegibility; }
 
 /**
  * For the HTML2print layout, which uses CSS regions,
  * do not break line if it means continuing in the next region
  */
 h1,
 h2,
 h3,
 .pull-out {
     -webkit-break-inside: avoid;
             break-inside: avoid;
 }
 
 /**
  * Re-ADDING default sup, after the reset so we don't have to have for every styling/fonts separetely
  **/
 
 sup {
  vertical-align: super;
  font-size: smaller;
 }
 
 
 /**
  * no hyphens there
  * https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens
  */
 .lead,
 .pull-out,
 figcaption,
 h1,
 h2 {
     -webkit-hyphens: none;
        -moz-hyphens: none;
             hyphens: none;
 }
 em,
 i { font-style: italic;}
 a {
     text-decoration: none;
 
     color: inherit;
 }
 sup { line-height: 0; } /* Fixes baseline issues */
 
 
 /**
  * HACKS
  */
 
 /**
  * Using CSS regions, left-sided ascents of text set in italic get clipped by
  * its container box. Fixes the bug by adding padding and restoring the offset
  * with negative margin.
  *
  * The bug is documented at <https://github.com/annulen/webkit/issues/278>
  */
 article {
     margin-left: -10pt;
     padding-left: 10pt;
 }
 
 .keep {
     -webkit-hyphens: none;
        -moz-hyphens: none;
             hyphens: none;
     white-space: nowrap;
 }
 
 
 /**
  * #GENERAL-STYLES
  */
 
 /**
  * Title of the rubric or article type
  *
  * 1. keeps the title on one line.
  * 2. we do not specify the color so it inherits from the `color` property.
  *    Useful to redefine altogether the color of the text and the border.
  */
 .rubric-title {
     font-family: 'Erbarre';
     font-size: 14pt;
     font-weight: bold;
     line-height: var(--line-height);
     white-space: nowrap; /* [1] */
 
     margin-right: 6pt;
     text-transform: uppercase;
 
     // OLD
     // float: left;
     // padding: 30pt 6pt 3pt 6pt;
     // border-right:  solid 2pt; /* [2] */
     // border-bottom: solid 2pt; /* [2] */
     // border-left:   solid 2pt; /* [2] */
     // border-bottom: 		solid 2.5pt;
 
     // NEW
     float: left;
     display: flex;
     align-items: flex-end;
     box-sizing: border-box;
     padding: 0pt 6pt 3pt 6pt;
     width: auto;
     height: 38pt + @line-height;
 
     background: white;
 }
 
 /**
  * The last paragraph of the article finishes with a Medor dingbat
  */
 .body > p:last-of-type::after {
     font: 6.5pt 'Belogodor';
     content: '\00A0\E887';
 }
 
 /* Tiret avant le nom de l'auteur de la sitation */
 blockquote.pull-out footer > p:before {
     content: '— ';
     color: inherit;
 }
 
 
 
 
 /**
  * IMAGES
  */
 
 /**
  * In our workflow, article figures -- usually images with or without a caption
  * -- are typically put in their own css flow and then flown into a `.bloc`
  * container.
  *
  * The rules below take care of the placement of the images, captions and
  * credits based on the geometry of their container.
  *
  * It ensures that the images fill the `.bloc` containers, puts the caption
  * below the images and the credits to the right.
  *
  * It assumes the following HTML structure:
  *
  *     <figure>
  *         <img alt="" src="..." />
  *         <figcaption>
  *             <p class="caption">Légende</p>
  *             <footer>Author <small>License</small></footer>
  *         </figcaption>
  *     </figure>
  *
  * Additional remarks below.
  *
  * 1. Makes the image fill the box homothetically and crops it in case it
  *    overflows the container.
  * 2. Since the figcaption element is absolutly positionned, it's size by
  *    default depends on its content. We give it a 100% size to ensure that the
  *    credits are positioned correctly to the right of the image.
  */
 
 
 figure {
     position: relative;
     width: 100%;
     height: 100%;
 }
 
 figure img {
     position: absolute;
 
     display: block;
 
     width: 100%;
     height: 100%;
 
     object-fit: cover; /* [1] */
 }
 
 figcaption {
     position: absolute;
     font: 7pt/8.5pt "Alfphabet";
     top: 100%;
     width: 100%; /* [2]  */
     margin-top: 6pt;
     // by default the figcaption are now hidded
     // as the credits for illustration / photos are already on the first and last page
 }
 
 figcaption footer {
     position: absolute;
     width: 100%;
     bottom: 0;
     font-size: 5pt;
     left: -webkit-calc(~"100% + 9pt"); /* For older webkits */
     left: calc(~"100% + 9pt");
     margin-bottom: 6pt;
     -webkit-transform: rotate(270deg);
             transform: rotate(270deg);
     -webkit-transform-origin: left bottom;
             transform-origin: left bottom;
 
     display: none;
 }
 
 figcaption footer small {
     font-size: 5pt;
     line-height: 6pt;
 }
 
 
 
 /**
  * Credit d'entrée
 
 <dl class="header-byline">
   <dt>Par</dt> <dd>journaliste</dd><br>
   <dt>role1 :</dt> <dd>nom1</dd><br>
   <dt>role2 :</dt> <dd>nom2</dd>
 </dl>
 
  */
 
 .header-byline {
   // no default, precised in every specific style
 }
 .header-byline dt,
 .header-byline dd{
   display: inline;
 }
 
 /**
  * Signature
 
 <footer>
   <dl class="footer-byline">
     <dt></dt> <dd>journaliste</dd><br>
     <dt>role1 :</dt> <dd>nom</dd><br>
     <dt>role2 :</dt> <dd>nom</dd>
   </dl>
 </footer>
 
  */
 
 .footer-byline {
   font-family: 'Erbarre';
   font-size: 10pt;
   font-weight: bold;
   line-height: 12pt;
   margin-top: 1pt;
 }
 .footer-byline dt,
 .footer-byline dd{
   display: inline;
 }
 
 .footer-byline small {
   vertical-align: super;
   font-weight: normal;
   font-size: 6pt;
   line-height: 0;
   position: relative;
   top: 1pt;
   padding-left: 0.5em;
 }
 
 .endnote {
     font-family: 'Nobel';
     font-size: 7pt;
     line-height: 9pt;
     margin-bottom: 3pt;
 }
 
 /**
  * Footnotes.
  *
  * There is only one style of footnotes across the magazine. Only the place
  * might change according to the type of article. Footnotes structure must
  * follows the convention below:
  *
  *     <ol class="footnotes">
  *         <li><a name="sdfootnote1sym" href="#sdfootnote1anc">1</a>Footnotes 1</li>
  *     </ol>
  *
  * The footnote calls look like this
  *
  *     <a name="sdfootnote1anc" href="#sdfootnote1sym">1</a><sup>1</sup></a>
  *
  * 1. Hides the numbers in the HTML since it is redundant with the css numbered bullets.
  */
 
 .footnotes {
     font: 7pt 'Alfphabet-Condensed';
     line-height: @line-height * .75;
     list-style: decimal inside;
     -webkit-hyphens: auto;
     -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
     -webkit-hyphenate-limit-after:  2; /* 3 caractères minimum en début de ligne, donc en fin de mot */
     -webkit-hyphenate-limit-lines:  4; /* 4 lignes consecutives max */
 }
 
 .footnotes li + li { margin-top: (@line-height / 8) * 3; }
 
 .footnotes a[name^='sdfootnote'] { display: none; /* [1] */ }
 

//  don't put césure in footnote when it's an url
//  and commencer à la ligne
.footnotes a{
  display: block;
  -webkit-hyphens: none;
  word-break: break-all;
}

//  alternative footnotes
// .footnotes li{
//   transform-origin: top left;
//   transform: rotate(-90deg);
//   height: @col-gutter-width;
//   width: @row-gutter-height * 3;
//   position: relative;
//   bottom: -6pt
// }


 /**
  * Since we don't use CSS columns we need to create column rules ourselves.
  *
  * Assign `rule--right` or `rule--left` classes to any `bloc` container to draw
  * a faux column rule next to it.
  *
  * Although those rules are specified in the general style section, they apply
  * mainly to the rubrics.
  */
 
 .rule--right {
     margin-right: -4pt;
     padding-right: 4pt;
     border-right: 1px solid;
 }
 .rule--left {
     margin-left: -4pt;
     padding-left: 4pt;
     border-left: 1px solid;
 }
 
 
 /**
  * Sidebars
  */
 .sidebar {
   font-family: 'Erbarre' ;
   font-size: 9.5pt;
   line-height: 12pt;
   letter-spacing: .002em;
 }
 .sidebar strong {
   font-family: 'Erbarre';
   font-size: 10pt;
   font-weight: bold;
   line-height: 0pt;
 }
 .sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4 {
   font-family: 'Alfphabet' ;
   font-size: 14pt;
   line-height: 18pt;
   text-transform: uppercase;
   margin-top: 6pt;
 }
 
 .sidebar em { font-style: oblique; }
 
.sidebar p + p{
  text-indent: 12pt;
}

 
 /**
  * Specific styles
  */
  @import "specific styles/article.less";
  @import "specific styles/edito.less";
  @import "specific styles/entretien.less";
  @import "specific styles/enquete.less";
  @import "specific styles/flamand.less";
  @import "specific styles/portfolio.less";
  @import "specific styles/portrait.less";
  @import "specific styles/recit.less";
  @import "specific styles/rubric.less";
  @import "specific styles/sommaire.less";
  @import "specific styles/web.less";
  @import "specific styles/coulisses-web.less";
  @import "specific styles/droit.less";
  @import "specific styles/nombril.less";
  
 