@import '../../../css/main.less';

#flow-main header .rubric-title,
#flow-main header .rubric-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }

#flow-main .lead { .flow-into(flow-lead); }
.flow-lead { .flow-from(flow-lead); }

#flow-main .header-byline,
#flow-main .headline { .flow-into(flow-headline); }
.flow-headline { .flow-from(flow-headline); }

#flow-main .subhead { .flow-into(flow-subhead); }
.flow-subhead { .flow-from(flow-subhead); }

#flow-main .header-byline { .flow-into(flow-header-byline); }
.flow-header-byline { .flow-from(flow-header-byline); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }

//FIGURES
.fig-loop (@i) when (@i > 0) {
	#flow-main figure:nth-of-type(@{i}) { .flow-into(~"flow-fig@{i}"); }
	.flow-fig@{i} { .flow-from(~"flow-fig@{i}"); }
	.fig-loop(@i - 1);
}
.fig-loop(8);	//number of figs

//FOOTNOTES
.fn-loop (@i) when (@i > 0) {
  #flow-main .footnotes li:nth-of-type(@{i}) { .flow-into(~"flow-fn@{i}"); }
  .flow-fn@{i} { .flow-from(~"flow-fn@{i}"); }
  .fn-loop(@i - 1);
}
.fn-loop(3); 	//number of footnotes


/*___ numéro XX ___*/

// --- multiple fonds
.fond{
	background-size: auto 100%;
	z-index: 0;
}
.fond-mono{
	background-image: url('https://medor.coop/media/images/fond-5mm-bleeds.original.jpg');
}
.fond-epaule{
  background-image: url('https://medor.coop/media/images/entree-retouche-1.original.jpg');
}
.fond-oeil{
	background-image: url('https://medor.coop/media/images/yeux-retouche-1.original.jpg');
}

// --- image en double sur page 3 et 4
.fond-tube{
	background-image: url('https://medor.coop/media/images/double1-5mm-bleeds.original.jpg');
	background-size: auto 97%;
}
.double(".fond-tube", 10pt, 0pt, 3, 4);

// --- titres à custom
@font-face {
    font-family: '';
    src: url('');
}
.recit h1.headline {
}
.recit h2.subhead {
}
.recit p.header-byline {
}

// --- ajustement exergues
// fait rentrer le 2 dans la colone
.pull-out-in(2);
// fait sortir le 4 d'une colone
// .pull-out-out(4);
// cache le 5 en gardant l'indentation du paragraphe suivant
// .hide-pull-out(5);

// --- retirer num page / titres courants
.no-footer(1);
.no-footer(4);

// --- image en flow
// remet la 3 dans le flow principale (entre deux paragraphe)
// .flow-figure(3);
