@import '../../../css/main.less';

#flow-main header .rubric-title,
#flow-main header .rubric-subtitle {.flow-into(flow-slug);}
.flow-slug {.flow-from(flow-slug);}

#flow-main header .headline {.flow-into(flow-headline);}
.flow-headline {.flow-from(flow-headline);}

#flow-main .lead { .flow-into(flow-lead); }
.flow-lead { .flow-from(flow-lead); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }

// FIGURES
.fig-loop (@i) when (@i > 0) {
    #flow-main figure:nth-of-type(@{i}) { .flow-into(~"flow-fig@{i}"); }
    .flow-fig@{i} { .flow-from(~"flow-fig@{i}"); }
    .fig-loop(@i - 1);
}
.fig-loop(2);

/*___ numéro XX ___*/

.fond {
	background-image: url(https://medor.coop/media/images/edmBIFTON.original.png);
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 100000;
}
