@import '../../../css/main.less';

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main);}

#flow-main header .rubric-title,
#flow-main header .rubric-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }

#flow-main .header-byline,
#flow-main .headline { .flow-into(flow-headline); }
.flow-headline { .flow-from(flow-headline); }

#flow-main .header-byline { .flow-into(flow-header-byline); }
.flow-header-byline { .flow-from(flow-header-byline); }

#flow-main header .lead{ .flow-into(flow-lead); }
.flow-lead { .flow-from(flow-lead); }

#flow-main aside:nth-of-type(1) { .flow-into(flow-sidebar1); }
.flow-sidebar1 { .flow-from(flow-sidebar1); }

//FIGURES
.fig-loop (@i) when (@i > 0) {
	#flow-main figure:nth-of-type(@{i}) { .flow-into(~"flow-fig@{i}"); }
	.flow-fig@{i} { .flow-from(~"flow-fig@{i}"); }
	.fig-loop(@i - 1);
}
.fig-loop(20);	//number of figs

 //FIGCAPTION
.fig-loopcap (@i) when (@i > 0) {
	#flow-main figure:nth-of-type(@{i}) figcaption { .flow-into(~"flow-figcap@{i}");  }
	.flow-figcap@{i} { .flow-from(~"flow-figcap@{i}");  }
	.fig-loopcap(@i - 1);
}
.fig-loopcap(18); //number of caption


/*___ numéro XX ___*/

.rubric-title {
  color: white;
}

// --- double d'entrée
.fond{
	background-image: url('https://medor.coop/media/images/38_china.original.jpg');
	background-size: auto 100%;
}
.double(".fond", 0cm, 0cm);

.portfolio .headline {
  color: black;
}
.portfolio .header-byline {
  color: black;
}

// --- retirer num page / titres courants
.no-footer(1);
.no-footer(2);
// .no-footer(9);

// --- libère les figcaptions pour les utiliser dans leur flow individuel
.freecap-all();
// et remettre la 3 attachés a son image
.lockcap(3)
// ou pour l'appliquer uniquement a la n-ieme
// .freecap(8);
// .freecap(12);
// .freecap(14);

// -- ajustement images
figure > img {
  object-fit: contain;
  width: 100%;
}
figure:nth-of-type(6) > img,
figure:nth-of-type(7) > img,
figure:nth-of-type(9) > img,
figure:nth-of-type(10) > img {
	object-fit: cover;
}
