
// the article class is for non-rubric article
// enquete, recits, protraits, entretien, flamand

/*___ HEADLINE and SUBTITLE ___*/

.article .headline,
.article .subhead {
    font-family: 'Erbarre';
    font-weight: bold;
    text-transform: uppercase;
}

.article .headline {
    font-size: 36pt;
    margin: (@line-height * .5) 0 @line-height;
}

.article .subhead {
    font-size: 18pt;
    line-height: @line-height * 2;

    margin-top: @line-height / 2;
    margin-bottom: @line-height / 2;
}

.article .header-byline {
    font: 18pt 'Erbarre';
    font-weight: bold;
    line-height: (@line-height/4) *6;
    margin-bottom: @line-height;
}

.article .lead {
    font: 15pt 'Bagnard';
    line-height: @line-height * 1.5;
    margin-bottom: @line-height;
    letter-spacing: -0.01em;
}


/*___ LETTRINE ___*/
// Noter que pas beaucoup de propriétés fonctionne sur ce pseudo-élément,
// par exemple position:relative ne fonctionne pas.
// see: https://developer.mozilla.org/en-US/docs/Web/CSS/::first-letter#Summary
.article .body > p:nth-of-type(1)::first-letter{
    font-family: 'Erbarre';
    font-weight: bold;
    font-size: 3 * @line-height *(6/5);
    line-height: 3 * @line-height *(6/5);
    height: 3 * @line-height;
    float: left;
    padding-right: .1em;
}

/*___ H2, H3 ___*/
.article .body > h2 {
    font: bold @line-height/@line-height 'Erbarre';
    margin-bottom: @line-height*0.5;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.article .body > figure + h2,
.article .body > p + h2,
.article .body > ul + h2 { margin-top: @line-height * 1.5; }

.article .body > h3 {
    font-family: 'Bagnard' ;
    font-size: 12pt ;
    line-height: 12pt;
    margin-bottom: 4pt;
    margin-top: 20pt;
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;
}

/*___ BODY TEXT ___*/

.article .body {
    font: 9pt/@line-height 'Century Schoolbook';

    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
    -webkit-hyphenate-limit-after:  3; /* 3 caractères minimum en début de ligne, donc en fin de mot */
    -webkit-hyphenate-limit-lines:  4; /* 4 lignes consecutives max */
}

.article .body > figure + p:not(.lead),
.article .body > p:not(.lead) + p { text-indent: @line-height; }
.article .body > p:nth-of-type(1) { text-indent: 0!important; }


/*___ PULL-OUT ___*/

.article blockquote.pull-out {
    font-family: 'Erbarre';
    margin: (@line-height * 2) 0 (@line-height * 2) -@col-gutter-width;
}

.article blockquote.pull-out > div > p {
    font-size: 18pt ;
    font-weight: bold;
    line-height: @line-height * 1.5;
}
.article blockquote.pull-out > div > p i{
    font-style: normal;
}

.article blockquote.pull-out > footer {
    font-size: 12pt;
    line-height: @line-height;

    margin-top: 6pt;
}


/*___ APPEL DE NOTES ___*/

/*  FIXME: ajuster la taille */
.article .body sup {
    font-size: 6pt;
    line-height: 0;
    top: 2px;
    padding-left: .125em;
    vertical-align: super;
}
.article .body sub {
    font-size: 6pt;
    line-height: 0;
    top: 1px;
    position: relative;
    padding-left: .1em;
}