/**
 * #WEB
 */

 /* Note:
* l'articles doit avoir les deux classes: "rubric" et "web"
* les différents sous-articles de coulisses du web sont séparé en encadrés
dans le wagtail
* h4 sert de taxinomie et h2 de titre du sous-article
* h3 sert d'intertitre au sous-article
* le bold est utilisé comme signature
* les encadré "mais aussi:..." sont des exergues placé dans les encadrés
* les images qui doivent être dans le flow sont dans les encadrés a leur places,
  en utilisant la mixins fonction .flow-figure()
* les images qui sont en fond sont placées au tout début de l'article et se comporte
  comme d'habitude, c'est-à-dire avec un bloc et la classe .flow-fig1 etc.
 */

// --- remettre la century en corps
.rubric.web aside.sidebar > p,
.rubric.web aside.sidebar > ol,
.rubric.web aside.sidebar > ul{
  font: 9pt / 12pt "Century Schoolbook";
}

// --- titrage
.rubric.web h2{
  font: 22pt / 24pt "Career";
  font-weight: 400;
  text-transform: none;

  margin: 8pt 0 4pt;
}
.rubric.web h3{
  font: 10pt / 12pt 'Alfphabet';
  font-style: normal;
  font-weight: 400;
  text-transform: none;

  margin-top: 12pt;
  position: relative;
  top: -4pt;
}

// --- taxinomie
.rubric.web h4{
  display: inline-block;
  margin: 0;

  //pour rester aligné avec la grille
  font: 6pt / 12pt "Belgika8th";
  height: 12pt;
  font-style: normal;
  font-weight: 400;

  box-sizing: border-box;
  border: 1pt solid;
  padding: 0 .5em;
}

// --- credits
.rubric.web b{
  display: block;
  text-align: right;

  font: 6pt / 12pt "Belgika8th";
  font-style: normal;
  font-weight: 400;

  position: relative;
  top: 6pt;
}

// --- mais aussi - exergues
.rubric.web blockquote.pull-out{
  box-sizing: border-box;
  border: 1pt solid @noir;
  padding: 0pt 12pt 11pt;
  border-radius: 18pt;
  background-color: white;
}
.rubric.web blockquote.pull-out p{
  font: 9pt / 12pt "Century Schoolbook" !important;
}
.rubric.web blockquote.pull-out b{
  font: 10pt / 12pt 'Alfphabet';
  font-style: normal;
  font-weight: 400;
  text-transform: none;

  text-align: left;
  margin-top: 12pt;
  position: relative;
  top: -4pt;
}
.rubric.web blockquote.pull-out p{
  text-indent: 0 !important;
}

.rubric blockquote.pull-out > div > p em,
.rubric blockquote.pull-out > div > p i { font-style: italic; } /* Do not put in italic pull-out quotations */

// remet les figcaption
.rubric.web figcaption footer{
  display: block;
}
