/**
 * #Droit de suite
 */

// class: .rubric .droit

// enlever les titres
.rubric.droit h1 {
  display: none;
}
// special droit de suite titles
.rubric.droit .body h2 {
  text-align: center;
  margin-top: 12pt;
  margin-bottom: 4pt;
}
.rubric.droit .body h3 {
  font: 300 12pt/12pt 'Erbarre';
  text-transform: none;
  margin: 0;
  margin-bottom: 8pt;
  text-align: center;
}

// enlever ending footer
.droit footer .footer-byline{
  display: none;
}

// credits de fin de textes individuel en bold
.droit .body b{
  font-family: 'Erbarre';
  font-size: 10pt;
  font-weight: bold;
  line-height: 12pt;
}
// pas de dingbat de fin
// .droit .body > p:last-of-type::after {
//   content: none;
// }
// dingbat de fin après chaque crédits
// .droit .body b::after {
//   font: 6.5pt 'Belogodor';
//   content: '\00A0\E887';
// }


// image en flow
.rubric.droit figure{
  height: auto;
  margin: 12pt auto;
}
.rubric.droit figure:first-child{
  margin-top: 0;
}
.rubric.droit  figure > img{
  height: 100%;
  position: relative;
}

.rubric.droit figcaption{
  position: relative;
  font: 7pt/8.5pt "Alfphabet";
  top: 0;
  margin-top: 6pt;
}


// remet les figcaptions
.rubric.droit figcaption footer{
  display: block;
}
