/**
 * #EDITORIAL
 */
.edito {
  font-family: 'Erbarre' ;
  font-size: 13pt;
  line-height: 15.5pt;
}

.edito .headline {
  font-size: 36pt;
  line-height: 36pt;
  margin-top: 6pt;
}


.edito .subhead,
.edito .header-byline {
	display: none;
}

.edito h2 {
	font-weight: bold;
	margin-top: 12pt;
}

.edito .body > p {
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 5; /* 2 caractères minimum en fin de ligne, donc en début de mot */
    -webkit-hyphenate-limit-after:  5; /* 3 caractères minimum en début de ligne, donc en fin de mot */
    -webkit-hyphenate-limit-lines:  2; /* 3 lignes consecutives max */
}

.edito .body > p + p { text-indent: 24pt; }

/* ne pas afficher les titres et sous-titres et le byline */
.edito .rubric-title,
.edito .rubric-subtitle,
.edito footer { display: none; }

/* appels de notes */
.edito .body a sup,
.edito .body sup {
    font-size: .75em;
    position: relative;
    top: -3.5pt;
    padding-left: .125em;
    vertical-align: baseline;
}

.edito .body sub {
    font-size: .75em;
    position: relative;
    top: 2.5pt;
    vertical-align: baseline;
}
