/**
 * #ENQUETE
 */

/*___ HEADLINE and SUBTITLE ___*/
/* 2 types d'enquetes: enquete--long et enquete--short (ex: Le silence du tram) */
/* utiliser class="enquete enquete--short" */

.enquete .headline,
.enquete .subhead {
    font-family: 'Erbarre';
    font-weight: bold;
    text-transform: uppercase;
}

.enquete .headline {
    font-size: 36pt;
    margin: (@line-height * .5) 0 @line-height;
}

.enquete .subhead {
    font-size: 18pt;
    line-height: @line-height * 2;

    margin-top: @line-height / 2;
    margin-bottom: @line-height / 2;
}

.enquete .header-byline {
    font: 18pt 'Erbarre';
    font-weight: bold;
    line-height: (@line-height/4) *6;
    margin-bottom: @line-height;
}

.enquete .lead {
    font: 15pt 'Bagnard';
    line-height: @line-height * 1.5;
    margin-bottom: @line-height;
    letter-spacing: -0.01em;
}


/*___ LETTRINE ___*/
// Noter que pas beaucoup de propriétés fonctionne sur ce pseudo-élément,
// par exemple position:relative ne fonctionne pas.
// see: https://developer.mozilla.org/en-US/docs/Web/CSS/::first-letter#Summary
.enquete .body > p:nth-of-type(1)::first-letter{
    font-family: 'Erbarre';
    font-weight: bold;
    font-size: 3 * @line-height *(6/5);
    line-height: 3 * @line-height *(6/5);
    height: 3 * @line-height;
    float: left;
    padding-right: .1em;
}

/*___ H2, H3 ___*/
.enquete .body > h2 {
    font: bold @line-height/@line-height 'Erbarre';
    // position: relative;
    // top: @line-height * .5 * -1;
    margin-bottom: @line-height*0.5;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.enquete .body > figure + h2,
.enquete .body > p + h2,
.enquete .body > ul + h2 { margin-top: @line-height * 1.5; }

.enquete .body > h3 {
    font-family: 'Bagnard' ;
    font-size: 12pt ;
    line-height: 12pt;
    margin-bottom: 4pt;
    margin-top: 20pt;
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;
}

/*___ BODY TEXT ___*/

.enquete .body {
    font: 9pt/@line-height 'Century Schoolbook';

    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
    -webkit-hyphenate-limit-after:  3; /* 3 caractères minimum en début de ligne, donc en fin de mot */
    -webkit-hyphenate-limit-lines:  4; /* 4 lignes consecutives max */
}

/*___ PULL-OUT ___*/

.enquete blockquote.pull-out {
    font-family: 'Erbarre';
    margin: (@line-height * 2) 0 (@line-height * 2) -@col-gutter-width;
}

.enquete blockquote.pull-out > div > p {
    font-size: 18pt ;
    font-weight: bold;
    line-height: @line-height * 1.5;
}

.enquete blockquote.pull-out > footer {
    font-size: 12pt;
    line-height: @line-height;

    margin-top: 6pt;
}
/* FIXME: exposants dans les footnotes (ex. Mons) */


.enquete .body > figure + p:not(.lead),
.enquete .body > p:not(.lead) + p { text-indent: @line-height; }
.enquete .body > p:nth-of-type(1) { text-indent: 0!important; }

/*  Appels de notes */
/*  FIXME: ajuster la taille */
.enquete .body sup {
    font-size: 6pt;
    line-height: 0;
    top: 2px;
    padding-left: .125em;
    vertical-align: super;
}

.enquete .body sub {
    font-size: 6pt;
    line-height: 0;
    top: 1px;
    position: relative;
    padding-left: .1em;
}

/**
 * Making-of enquêtes
 */
.enquete .making-of {
    font-family: 'Alfphabet';

    margin-top: 2 * @line-height;
    padding-top: @line-height - 4pt;

    border-top: 4pt double;
}

.enquete .making-of h1 { font-size: @line-height; }
.enquete .making-of h1 em {
    font-family: 'Medor';
    font-size: 9.5pt;

    text-transform: uppercase;
}
