/**
 * #ENTRETIEN
 */

 .entretien {
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
    -webkit-hyphenate-limit-after:  3; /* 3 caractères minimum en début de ligne, donc en fin de mot */
    -webkit-hyphenate-limit-lines:  3; /* 3 lignes consecutives max */
}

.entretien .headline {
    font-family: 'Alfphabet';
    font-size: 37pt;

    text-align: center;
    text-transform: uppercase;
}

.entretien .subhead {
    font-family: 'Erbarre';
    font-size: 18pt;
    font-weight: bold;
    line-height: @line-height * 1;
    margin-top: @line-height;
    text-align: center;
    text-transform: uppercase;
}

.entretien .header-byline {
    font-family: 'alfphabet';
    font-size: 8.5pt;
    text-align: center;
}
.entretien .lead {
  margin: 0 0 @line-height;
    // -webkit-hyphens: auto;
    // -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
    // -webkit-hyphenate-limit-after:  2; /* 3 caractères minimum en début de ligne, donc en fin de mot */
    // -webkit-hyphenate-limit-lines:  3; /* 3 lignes consecutives max */
}
.entretien .lead p {
    font-family: 'bagnard';
    font-size: 10.5pt;
    line-height: 14pt;
}
.entretien .lead p + p {
    text-indent: @line-height;
}
// .entretien .body p:first-of-type::first-letter{
//     font-family: 'career';
//     font-size: 60pt;
//     line-height: @line-height * 2.2;
//
//     position: relative;
//
//     float: left;
//
//     height: 31.4pt;
//     padding-top: 12.5pt;
//     padding-right: 8pt;
//     padding-bottom: 5pt;
// }

.entretien .body {
    line-height: 12pt;
    font-family: 'Century Schoolbook';
    font-size: 9pt;
    line-height: @line-height;
}

.entretien .body > h2 {
  margin-left: 0pt;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: @line-height/2;
  font-family: 'Alfphabet';
  margin-top: @line-height*1.5;
}

/* FIXME: is it really used? */
.entretien .body > h3,
.entretien .body > p > b {
  	display: block;
    font-family: 'Alfphabet';
    font-size: 8pt;
    line-height: 12pt;
    font-weight: normal;
    margin-top: @line-height;
    text-align: left;
}

/* FIXME: prefix with pull-out class */
.entretien .body blockquote p {
    font-family: 'Alfphabet';
    font-size: 19pt;
    line-height: 19pt;

    width: 101%;
    margin-top: 24pt;
    margin-bottom: 24pt;
}

.entretien .body blockquote p {
    text-indent: 0;
}

.colright blockquote.pull-out  {
    margin-left: -32pt;
}
.colleft blockquote.pull-out {
    margin-right: -32pt;
}

.entretien blockquote.pull-out footer {
    font-family: 'alfphabet';
    font-size: 9pt;
    line-height: @line-height;

    margin-top: 3pt;
}

/* Speaker style */
.entretien .body > p > abbr {
    font-family: 'Alfphabet';
    font-size: 7.5pt;
    padding: 0 8pt 0 0;
    margin: 0pt;
    line-height: 0pt;
}

.entretien .body .question {
    font-family: 'bagnard';
    line-height: 12pt;
    margin: 0;
    font-size: 9pt;
}

.entretien .body .question + p {
     margin-top: 0;
}


.entretien .body sup {
    font-size: 0.667em;
    line-height: 0;
    vertical-align: super;
    padding-left: .125em;
}
.entretien .body sub {
    font-size: 6pt;
    line-height: 0;
    top: 1px;
    position: relative;
    padding-left: .1em;
}



/* Exposant dans le texte */
/* FIXME: ajuster la taille */
.entretien .body a > sup {
    font: 6pt/0 'Alfphabet';
    padding-left: .125em;
    vertical-align: super;
}
