/**
 * Styles Moment flamand
 */

 .flamand .headline,
 .flamand .subhead {
     font-family: 'Bagnard';
     font-weight: bold;
     text-transform: uppercase;
 }
 
 .flamand .headline {
     font-size: 42pt;
     line-height: 45pt; /* FIXME: a revoir */
     text-align: left;
 }
 .flamand .headline {
     font-size: 30pt;
     line-height: 32pt;
     letter-spacing: 0pt;
 }
 
 .flamand .headline > em {
     letter-spacing: -.12em;
 }
 
 .flamand .subhead {
     font-size: 18pt;
     line-height: @line-height;
 
     margin-top: @line-height;
 }
 
 .flamand .lead,
 .flamand .lead > em {
     font-family: 'Century Schoolbook';
     font-size: 14pt ;
     line-height: @line-height * 1.4;
     display: inline;
     margin: 0 0 @line-height * 2;
 }
 
 
 /* Exposant dans le texte */
 /*  FIXME: ajuster la taille */
 .flamand a > sup {
     font-size: .75em;
     padding-left: .125em;
     top: 1pt;
 }
 
 .flamand .header-byline {
     font-family: 'Alfphabet';
     font-size: 12pt;
     font-weight: 400;
     line-height: (@line-height / 12) * 16;
 
     text-align: left;
 }
 
 .flamand .body > p {
     font: 9pt/@line-height 'Century Schoolbook';
     -webkit-hyphens: auto;
     -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
     -webkit-hyphenate-limit-after:  3; /* 3 caractères minimum en début de ligne, donc en fin de mot */
     -webkit-hyphenate-limit-lines:  4; /* 3 lignes consecutives max */
 }
 
 // .flamand header + .body > p:first-child::first-letter{
 //     font-family: 'Alfphabet';
 //     font-size: 42pt;
 //     line-height: 40pt;
 //     position: relative;
 //     top: .08em;
 //     float: left;
 //     height: 34pt;
 //     padding-right: .15em;
 // }
 .flamand .body > figure + p:not(.lead),
 .flamand .body > p:not(.lead) + p { text-indent: @line-height; }
 
 .flamand .body > h2 {
     font-family: 'Alfphabet' ;
     font-size: 10.5pt ;
     line-height: @line-height ;
     margin-top: 12pt ;
     text-align: left;
     position: relative;
     text-transform: uppercase;
 }
 
 .flamand .body > p:last-of-type::after {
     font: 6.5pt 'Belogodor';
     content: ' \00A0\E977';
 }
 
 /*  FIXME: ajuster la taille */
 .flamand .body sup {
   font-size: 0.667em;
   line-height: 0;
   vertical-align: super;
   padding-left: .125em;
 }
 .flamand .body sub {
     font-size: 6pt;
     line-height: 0;
     top: 1px;
     position: relative;
     padding-left: .1em;
 }
 
 
 
 
 /**
  * TODO: rename of remove
  */
 .flamand .encadre h1 {
     font-family: 'alfphabet';
     font-size: 12pt;
     line-height: 12.5pt ;
 
     text-align: left;
     text-transform: uppercase;
 }
 .flamand .encadre > p {
     font-family: 'Erbarre' ;
     font-size: 9.5pt;
     line-height: 11.5pt ;
     letter-spacing: .002em;
 }
 .flamand .encadre > p:first-of-type {
     margin-top: @line-height/3;
 }
 .flamand .encadre p strong {
     font-family: 'Erbarre' ;
     font-size: 9.5pt ;
     font-weight: bold;
     line-height: 0 ;
     text-transform: uppercase;
 }
 
 .flamand .encadre p > em {
     font-family: 'Erbarre' ;
     line-height: 12pt ;
 
     letter-spacing: .003em;
 }
 
 .flamand blockquote.pull-out  {
     font: 12pt 'Bagnard';
     line-height: 14pt;
     /* display: block; */
     margin: @line-height 0;
     text-indent: 0;
     letter-spacing: -.002em;
 }
 
 .flamand blockquote.pull-out > footer {
     font-size: 9pt;
     line-height: @line-height;
     margin-top: 3pt;
 }
 