/**
 * #NOMBRIL
 */

 // corps de texte
 // en NOBEL (comme rubric)

// cacher sous-titre et rubric sous-titres
.rubric.nombril .header-byline,
.rubric.nombril .rubrique-title,
.rubric.nombril .rubrique-subtitle { display: none; }
/*  TODO: hide footer too? */


// TITRE, CHAPEAU et INTER
.rubric.nombril .headline {
    font: 48pt/36pt 'Alfphabet-Condensed';
    letter-spacing: 0;
    text-transform: none;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.rubric.nombril .lead {
    font: 12pt/15pt 'Alfphabet-Condensed';
}
.rubric.nombril .body h2 {
    font: 300 12pt/12pt 'Alfphabet';
    text-transform: uppercase;
    text-align: left;
    margin: 12pt 0pt 0pt;
}
