

/*___ HEADLINE and SUBTITLE ___*/

.article.portrait  .headline {
    font-family: 'career';
    font-size: 33pt;
    line-height: @line-height/12*39;

    margin-top: 16pt;

    text-align: center;
    text-transform: uppercase;
}

/* SPAKER NAME */
.article.portrait .subhead {
    font-family: 'career';
    font-size: 21pt ;
    line-height: @line-height*2.5;

    text-align: center;
    text-transform: none;
}

/*___ SPECIAL PORTRAIT ___*/

/* FIXME: Is it really used? */
.article.portrait .body > h3 {
    font-family: 'Bagnard' ;
    font-size: 1em ;
    line-height: 19.5pt;
    margin-bottom: 6px;  /*Pixel ou point?*/
    margin-top: 6px;
    text-align: center;
}

.article.portrait .body > p:last-of-type::after {
    font: 6.5pt 'Medor';
    content: ' \00A0\E011';
}