/**
 * #PORTFOLIO
 *
 * 1. We specify line-height without unit so it scales with the font-size in
 *    case we redefine it.
 */

.portfolio {
  font-family: 'Erbarre';
}

/* HEADLINE */
.portfolio .headline {
    font: bold 60pt / 0.8 'Erbarre'; /* [1] */
    color:white;
    text-align: center;
    text-transform: uppercase;
}
/*  FIXME: decide if we put the name of the photograph or the subhead under the */
.portfolio .subhead,
.portfolio .header-byline { text-align: center; color:white; }

.portfolio .subhead { font: bold 36pt / 36pt 'Erbarre';}
.portfolio .header-byline { font: bold 18pt / 18pt 'Erbarre';}

.portfolio .body {
  font-size: 13pt;
  line-height: 15pt;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
  -webkit-hyphenate-limit-after:  3; /* 3 caractères minimum en début de ligne, donc en fin de mot */
  -webkit-hyphenate-limit-lines:  4; /* 3 lignes consecutives max */
}

.portfolio .lead{
  font-weight: bold;
  font-size:18pt;
  line-height: 20pt;
  margin-bottom: 18pt;
}

.portfolio .body > h2 {
  font-weight: bold;
  margin-top: 15pt;
}

.portfolio .body > p + p { text-indent: @line-height; }

/*  FIXME: ajuster la taille */
.portfolio sup {
    font-size: 0.75em;
    line-height: 0;

    padding-left: .125em;

    vertical-align: super;
}

/* Exposant dans le texte */
/*  FIXME: ajuster la taille */
.portfolio .body a > sup {
    font: 6pt/0 'Alfphabet';

    padding-left: .125em;

    vertical-align: super;
}

.portfolio em {
    font-style: italic;  /* do not use italic at all */
    // color: @color-ete-sapin;
}

.portfolio .footnotes { padding-left: @line-height; }
/* IMAGE */
.portfolio figcaption {
    font-family: 'Nobel' ;
    font-size: 8pt;
    font-weight: 300;
    line-height: 9pt;
}
/*  The "titles" of the pictures */
/*  It was used in the first and second issues */
.portfolio figcaption strong {
    font-family: 'Belgika5th';
    font-size: 6.5pt;
    line-height: 8pt;

    display: inline;

    letter-spacing: 0;
    text-transform: uppercase;
    -webkit-font-feature-settings: 'liga' 0;
            font-feature-settings: 'liga' 0;
}

.portfolio figcaption em {
    font-style: italic;
    color: inherit;
}

/**
 * Style "Point de vue"
 */

.portfolio .sidebar h1 {
    font-size: 14pt;
    line-height: 24pt;
    font-weight: bold;
}

.portfolio .sidebar p {
    font-family: 'Erbarre';
    font-size: 10pt;
    line-height: 12pt;
    letter-spacing: .002em;
}

.portfolio .sidebar footer {
  font-family: 'Erbarre';
  font-weight: normal;
  font-style: normal;
}
/*Ajouter un filet  */
