/**
 * #RECIT
 */

// this class has to be used with .article !
// those are modification from the global article to specify into a recit

/*___ LEAD ___*/
.article.recit .lead{
  font: 16pt 'Junicode Condensed';
  font-style: italic;
  line-height: @line-height * 1.5;
  margin-bottom: @line-height;
  letter-spacing: 0em;

  // l'italic est parfois coupée
  padding-left: 2em;
  margin-left: -2em;
}

/*___ LETTRINE ___*/
.article.recit .body > p:nth-of-type(1)::first-letter{
  font-family: 'Alfphabet';
  font-weight: normal;
}

/*___ H2, H3 ___*/
.article.recit .body > h2 {
  font-family: 'Alfphabet' ;
  line-height: @line-height ;
  text-transform: uppercase;
  letter-spacing: 0em;

  margin-top: @line-height;
  margin-bottom: 0;
}

// recit sometimes begin with a title
.article.recit .body > h2:first-child,
.article.recit .body > figure + h2{
  margin-top: 0pt !important;
}


/*___ PULL-OUT ___*/

.article.recit blockquote.pull-out {
  font-family: 'Junicode Condensed';
}
.article.recit blockquote.pull-out > div > p {
  font-size: 22pt;
  line-height: @line-height * 2;
  font-weight: normal;
  font-style: italic;
}
.article.recit blockquote.pull-out > footer {
  font-size: 14.5pt;
}
.article blockquote.pull-out > div > p i{
  font-style: italic;
}