/**
 * #RUBRICS
 */

 .rubric .rubric-title {
    background: black;
    color: white;
  }
  
  /* TOP OF THE PAGE,(header) presentation of the rubric subtitle */
  .rubric-subtitle {
      font: 9pt 'Alfphabet-Condensed';
      white-space: nowrap; /* keeps the subtitle on one line */
      padding: 34pt 0 0 0; /* FIXME: revoir l'alignement */
  }
  
  .rubric-subtitle sup {
      vertical-align: super;
      font: 6pt/0 'Alfphabet';
      padding-left: .125em;
  }
  
  
  /**
   * header
   */
  
  
  .rubric .headline {
      font: 40pt/37pt 'Erbarre';
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      text-align: left;
      z-index: 1000;
      clear: left;
      margin-top: 21px;
      margin-bottom: @line-height;
      padding-top: 6pt * 1;
      // text-align: center;
  }
  
  
  
  .rubric .header-byline { display: none; }
  .rubric .lead { font: bold 15pt/15pt 'Erbarre'; }
  .rubric .lead sup{
    vertical-align: super;
    font-size: .6em;
    // padding-left: .125em;
  }
  
  /**
   * body text
   */
  .rubric .body h2 {
      font: 300 12pt/12pt 'Erbarre';
      text-transform: uppercase;
      margin: 8pt 0 4pt;
  }
  
  .rubric .body {
      font: 10.4pt/@line-height 'Nobel';
  
      -webkit-hyphens: auto;
      -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
      -webkit-hyphenate-limit-after:  2; /* 3 caractères minimum en début de ligne, donc en fin de mot */
      -webkit-hyphenate-limit-lines:  4; /* 4 lignes consecutives max */
  }
  .rubric .body p + p { text-indent: 9pt; } /* alinea */
  
  /* Exposant dans le texte */
  /* FIXME: ajuster la taille */
  .rubric .body sup {
      vertical-align: baseline;
      font-size: 7.5pt;
      padding-left: 0em;
      position: relative;
      top: -4.2pt;
      line-height: 0pt;
  }
  .rubric .body sub {
    vertical-align: baseline;
    font-size: 7.5pt;
    padding-left: 0em;
    position: relative;
    bottom: -2pt;
    line-height: 0pt;
  }

  
  /* Exposant dans le texte */
  /* FIXME: ajuster la taille */
  .rubric .body a > sup {
      font: 6pt/0 'Alfphabet';
      padding-left: .125em;
      // vertical-align: super;
      line-height: 0pt;
  }
  
  /**
   * Pull out
   */
  
  .rubric blockquote.pull-out {
    margin: (@line-height * 1)  0;
    position: relative;
    z-index: 1000;
  }
  .rubric blockquote.pull-out {
    width: 100%;
  }
  
  .rubric blockquote.pull-out > div > p {
      font-family: 'career';
      font-size: 14pt;
      line-height: @line-height * 1.25;
      letter-spacing: -.035em;
  }
  .rubric blockquote.pull-out > div > p em,
  .rubric blockquote.pull-out > div > p i { font-style: normal; } /* Do not put in italic pull-out quotations */
  
  .rubric blockquote.pull-out > footer {
      font: 9pt/@line-height 'Erbarre';
      margin-top: 3pt;
  }
  
  /**
   * Footnotes
   */
  .rubric .footnotes {
      margin-top: 12pt;
      padding-left: @line-height;
  
      /* TODO: Align on the bottom of the column */
  }
  