/**
 * #TABLE OF CONTENT
 */

/* FIXME: desactiver les goutieres pour le sommaire! */

/* BLOCK */
.sommaire .cellule {
  /* -webkit-region-break-after: always; */
  /*         region-break-after: always; */
  padding: 8pt;
  position: relative;
  outline: 6px solid black;
  outline-offset: -3px;
  background-repeat: no-repeat;
  background-size: 100%;

  // allowing to go below content width
  min-width: 0;
  overflow: visible;

}

// ___ GLOBAL ___

/* HEADLINE */
.sommaire .headline h1{
  font-family: 'Alfphabet-Condensed' ;
  font-size: 35pt ;
  font-weight: normal;
  line-height: 0.95;
  margin-top: -3pt;
}
.sommaire .headline{
  // height: 31pt;
}
/* SAISON/DATE */
.sommaire #date{
  position: absolute;
  left: 140pt;
  top: 12pt;
}
.sommaire .date {
  font-family: 'Alfphabet-Condensed';
  font-size: 12pt;
  margin-top: 0;
  text-align: left;
}

.container {
  display: -webkit-grid;
  display:         grid;
  -webkit-grid-template-columns: repeat(10, 1fr);
  -webkit-grid-template-rows: repeat(12, 1fr);
          grid-template-columns: repeat(9, 1fr);
          grid-template-rows: repeat(12, 1fr);
}

// ___ TIRES & INFOS ___

/* Style enquete */
.sommaire .grand h1{
  font-family: 'Erbarre';
  font-weight: bold;
  font-size: 38pt ;
  line-height: 0.94;
  margin-top: 2pt;
  text-transform: uppercase;
}
/* Style petite enquete */
.sommaire .petit h1{
  font-family: 'Erbarre' ;
  font-weight: bold;
  font-size: 24pt ;
  line-height: 0.94;
  letter-spacing: .05pt;
  text-transform: uppercase;
}
/* Style rubrique --- NEW*/
.sommaire .rubric h1{
  font-family: 'Alfphabet-Extended';
  font-size: 12pt;
  line-height: 12pt;
}
/* Style phrase d'accroche */
.sommaire .phrase {
  font-family: 'Alfphabet-Condensed' ;
  font-size: 13pt;
  line-height: 14pt;
  text-align: left;
  margin-top: 0pt;
  text-transform: normal;
}
/* Style du numero de page */
.sommaire .pagination {
  font-family: 'Alfphabet-Condensed';
  font-size: 21pt ;
  font-weight: normal;
  line-height: 17pt;
  position: absolute;
  right: 8pt;
  bottom: 8pt;
  text-align: right;
  vertical-align: bottom;
}
/* Style du numero de page --- NEW  */
.sommaire .categorie {
  font-family: 'Alfphabet-Condensed';
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2pt 6pt 3pt;
  margin: 8pt;
  border-radius: 12pt;
  background: black;
  color: white;
}

// OLD???

/* ONE HIDDEN BLOC! Permet à la "date" de se placer face au "Sommaire" sans faire apparaitre le cadre. */
.sommaire .background0bis {
    outline: none ;
    outline-offset: none;
}
/* All normal bloc */
.sommaire .bloc {
    position: absolute;

    box-sizing: border-box;
    padding: 8pt 20pt 5pt 10pt;

    outline: 4pt solid black;
    outline-offset: -2.5pt;
}

// remove footers
.sheet .sommaire.main:before,
.sheet .sommaire.main:after { content: "" !important; }
