

/*___ HEADLINE and SUBTITLE ___*/
.article.web .rubric-title {
    background: black;
    color: white;
}
.article.web .rubric-subtitle a{
    text-decoration: underline;
}

.article.web .headline{
    font: 36pt "Career";
    line-height: @line-height * 3;
    font-weight: 400;
    text-transform: none;
    margin: 0;
    margin-top: -12pt;
    padding-top: 12pt;
}
.article.web .subhead {
    font: 24pt / 24pt 'Alfphabet';
    letter-spacing: 0;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
}

.article.web .header-byline {
    // thin belgika for credits
    margin: 0;
    font: 10pt "Belgika8th";
    line-height: @line-height;
    font-style: normal;
    font-weight: 400;

    position: relative;
    top: 3pt;
}
.article.web .lead {
    // same as rubric (?)
    font: bold 15pt/15pt 'Erbarre';
    letter-spacing: 0em;
    margin: 0;
}

/*___ ENCAR WEB ___*/

// Encadrée en dur dans l'html (pas wagtail car sinon il faudrait les appeler avec nth-of-type)
// la structure est celle-ci:
// <div class="bloc l0 r0 b0 sidebar-web">
//   <p>
//     Retrouvez notre «série» consacrée aux opioïdes en Belgique: 
//     <a href="#">medor.coop/douleur</a>
//   </p>
// </div>

.sidebar-web{
    font: 12pt / 15pt 'Alfphabet';

    // padding for horizontal
    padding: @line-height * 2 @col-gutter-width;

    box-sizing: border-box;
    background-color: rgba(0,0,0,0.1);
    border-radius: @col-gutter-width * 2;
    // border: 1pt solid black;
    // box-shadow: 6pt 6pt 0 0 black;

    z-index: 99999;
}


// faire sortir a droite
.sidebar-web--right{
    right: -240pt;
}
.sidebar-web--right p{
    margin-right: 240pt - @col-gutter-width;
}


// faire sortir en bas
.sidebar-web--bottom{
    // padding for vertical
    padding: @row-gutter-height + @line-height  @line-height * 2;
    bottom: -240pt;
}
.sidebar-web--bottom p:last-of-type{
    margin-bottom: 240pt - (@row-gutter-height + @line-height);
}

// fleche
.sidebar-web--right img{
    position: absolute;
    right: 240pt;
    top: 50%;
    transform: translateY(-50%);
    height: @line-height * 1.5;
}

// hyperlink medor.coop
.sidebar-web a{
    display: inline-block;
    position: relative;
    line-height: 1;
    // font-family: 'Alfphabet-Extended';
    // font-size: 10pt;
}
.sidebar-web a::before{
    content: "";
    display: block;
    position: absolute;
    top: -2pt;
    bottom: -1pt;
    left: -4pt;
    right: -4pt;
    z-index: -1;
    background: white;
}

// following paragraphs
.sidebar-web p:not(:first-of-type){
    margin-top: 12pt;
    font: 9pt/12pt "Century Schoolbook";
}


/*___ H2, H3 ___*/
.article.web .body > h2 {
    font: 12pt / 12pt 'Alfphabet';
    letter-spacing: 0;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    
    margin-top: 8pt;
    margin-bottom: 4pt;
}