@import '../../../css/main.less';

#flow-main header .rubric-title,
#flow-main header .rubric-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }

#flow-main .headline,
#flow-main header .lead { .flow-into(flow-title); }
.flow-title {.flow-from(flow-title); }

#flow-main header .lead{ .flow-into(flow-lead); }
.flow-lead { .flow-from(flow-lead); }

#flow-main aside.sidebar {
.flow-into(flow-encadre);}
.flow-encadre{ .flow-from(flow-encadre); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }

// footnotes
.fn-loop (@i) when (@i > 0) {
    #flow-main .footnotes li:nth-of-type(@{i}) { .flow-into(~"flow-fn@{i}"); }
    .flow-fn@{i} { .flow-from(~"flow-fn@{i}"); }
    .fn-loop(@i - 1);
	}
.fn-loop(1);

// ENCADREE
.sidebar-loop (@i) when (@i > 0) {
	#flow-main aside.sidebar:nth-of-type(@{i}) { .flow-into(~"flow-sidebar@{i}"); }
	.flow-sidebar@{i} { .flow-from(~"flow-sidebar@{i}"); }
	.sidebar-loop(@i - 1);
}
.sidebar-loop(5);

//FIGURES
.fig-loop (@i) when (@i > 0) {
	#flow-main figure:nth-of-type(@{i}) { .flow-into(~"flow-fig@{i}"); }
	.flow-fig@{i} { .flow-from(~"flow-fig@{i}"); }
	.fig-loop(@i - 1);
}
.fig-loop(8);	//number of figs

// EXERGUES
.pull-out-loop (@i) when (@i > 0) {
	#flow-main blockquote.pull-out:nth-of-type(@{i}) { .flow-into(~"flow-pull-out@{i}"); }
	.flow-pull-out@{i} { .flow-from(~"flow-pull-out@{i}"); }
	.pull-out-loop(@i - 1);
}
.pull-out-loop(3);


/*___ numéro XX ___*/

// enleve le footer première page
.no-footer(1);

// fond
// les variables de couleurs se trouve dans le fichir css/colors.less
.fond{
  z-index: 0;
  // opacity: 0.5;
}
.fond-1{
  background: @gris-brun;
}
aside:nth-of-type(2){
  // color: white;
  h2 {
    width: 600pt;
    }
}
.fond-2{
  background: @mauve-clair;
}

// --- figures back in the flow
aside:nth-of-type(1){
  // back in the flow
  .flow-figure(1);
  figure:nth-of-type(1) > img{
    // give it a height of 10 lines of text
    .height-lines(12);
  }
}
aside:nth-of-type(2){
  // back in the flow
  .flow-figure(1);
  figure:nth-of-type(1) > img{
    // give it a height of 10 lines of text
    .height-lines(12);
  }
  figure:nth-of-type(1){
    width: @col-gutter-width * 9 - @col-gutter;
  }
}

// --- figures en fond

// .body > figure:nth-of-type(1) > img{
//   // recenter the image
//   object-fit: contain;
//   object-position: bottom;
// }
