@import '../../../css/main.less';

#flow-main header .headline {.flow-into(flow-headline);}
.flow-headline {.flow-from(flow-headline);}

#flow-main .lead { .flow-into(flow-lead); }
.flow-lead { .flow-from(flow-lead); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }

//FOOTNOTES (global class)
#flow-main .footnotes { .flow-into(flow-fn); }
.flow-fn { .flow-from(flow-fn); }

// ENCADREE (global class)
#flow-main aside.sidebar { .flow-into(flow-sidebar); }
.flow-sidebar { .flow-from(flow-sidebar); }


/*___ numéro XX ___*/

// a ajouter dans le permanent?
.subhead,
.header-byline {
	display: none;
}

// changer le dingbat de fin
.body > p:last-of-type::after {
    font: 18pt 'Belogodor';
		line-height: 0;
		position: relative;
		top: 2pt;
    content: '\00A0\e017';
}
