@import '../../../css/main.less';

#flow-main header .rubric-title,
#flow-main header .rubric-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }

#flow-main .lead { .flow-into(flow-lead); }
.flow-lead { .flow-from(flow-lead); }

#flow-main .header-byline,
#flow-main .headline { .flow-into(flow-headline); }
.flow-headline { .flow-from(flow-headline); }

#flow-main .subhead { .flow-into(flow-subhead); }
.flow-subhead { .flow-from(flow-subhead); }

#flow-main .header-byline { .flow-into(flow-header-byline); }
.flow-header-byline { .flow-from(flow-header-byline); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main); }

//FIGURES
.fig-loop (@i) when (@i > 0) {
	#flow-main figure:nth-of-type(@{i}) { .flow-into(~"flow-fig@{i}"); }
	.flow-fig@{i} { .flow-from(~"flow-fig@{i}"); }
	.fig-loop(@i - 1);
}
.fig-loop(8);	//number of figs

//FOOTNOTES
.fn-loop (@i) when (@i > 0) {
  #flow-main .footnotes li:nth-of-type(@{i}) { .flow-into(~"flow-fn@{i}"); }
  .flow-fn@{i} { .flow-from(~"flow-fn@{i}"); }
  .fn-loop(@i - 1);
}
.fn-loop(2); 	//number of footnotes

// ENCADREE
.sidebar-loop (@i) when (@i > 0) {
	#flow-main aside.sidebar:nth-of-type(@{i}) { .flow-into(~"flow-sidebar@{i}"); }
	.flow-sidebar@{i} { .flow-from(~"flow-sidebar@{i}"); }
	.sidebar-loop(@i - 1);
}
.sidebar-loop(4);


/*___ numéro XX ___*/

.rubric-title {
	background-color: white;
}

// --- double d'entrée
.fond{
  	background-image: url('https://medor.coop/media/images/page-titre-steiner-avec-nuage-krita.original.jpg');
	background-size: auto 100%;
}
.double(".fond", 0pt, 0pt);

// --- titres à custom
@font-face {
    font-family: '';
    src: url('');
}
.enquete h1.headline {
}
.enquete h2.subhead {
}
.enquete p.header-byline {
}

// --- examples de fonds d'encadré
.fond-sidebar {
	background-color: @color-C1;
	outline: 12pt solid @color-C1;
}

// --- ajustement exergues
// fait rentrer le 2 dans la colone
.pull-out-in(2);
// fait sortir le 4 d'une colone
// .pull-out-out(4);
// cache le 5 en gardant l'indentation du paragraphe suivant
// .hide-pull-out(5);

// --- retirer num page / titres courants
.no-footer(1);
.no-footer(2);
// .no-footer(7);

// --- image en flow
// remet la 3 dans le flow principale (entre deux paragraphe)
// .flow-figure(3);
