@import '../../../css/main.less';

#flow-main header .rubric-title,
#flow-main header .rubric-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }

#flow-main .headline,
#flow-main header .lead { .flow-into(flow-title); }
.flow-title {.flow-from(flow-title); }

#flow-main header .lead{ .flow-into(flow-lead); }
.flow-lead { .flow-from(flow-lead); }

#flow-main aside.sidebar {
.flow-into(flow-encadre);}
.flow-encadre{ .flow-from(flow-encadre); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main);}

/*___ numéro XX ___*/

.rubric-title {
	background-color: white;
	color: black;
}

// image double page
.fond{
  background-image: url('https://medor.coop/media/images/MEDOR_doublepage_def.original.jpg');
  background-size: auto 100%;
}
.double(".fond", 0, -14pt);

// retirer num page / titres courants
.no-footer(1);
.no-footer(2);
