@import '../../../css/main.less';

// init rubric flow
#flow-main header .rubric-title,
#flow-main header .rubric-subtitle { .flow-into(flow-slug); }
.flow-slug { .flow-from(flow-slug); }

#flow-main .headline,
#flow-main header .lead { .flow-into(flow-title); }
.flow-title {.flow-from(flow-title); }

#flow-main header .lead{ .flow-into(flow-lead); }
.flow-lead { .flow-from(flow-lead); }

#flow-main aside.sidebar {
.flow-into(flow-encadre);}
.flow-encadre{ .flow-from(flow-encadre); }

#flow-main { .flow-into(flow-main); }
.flow-main { .flow-from(flow-main);}

//FIGURES
.fig-loop (@i) when (@i > 0) {
#flow-main figure:nth-of-type(@{i}) { .flow-into(~"flow-fig@{i}"); }
.flow-fig@{i} { .flow-from(~"flow-fig@{i}"); }
.fig-loop(@i - 1);
}
.fig-loop(3); //number of figs

//FOOTNOTES
.fn-loop (@i) when (@i > 0) {
    #flow-main .footnotes li:nth-of-type(@{i}) { .flow-into(~"flow-fn@{i}"); }
    .flow-fn@{i} { .flow-from(~"flow-fn@{i}"); }
    .fn-loop(@i - 1);
}
.fn-loop(3);  //number of notes


/*___ numéro XX ___*/
