@import "../../../css/main.less";
@import "../../../css/colors.less";

textarea{
  // commenter pour enlever la boite a l'impression
  // display: none;
}

// ___ RUBRIC COLORS ___

@c1: midnightblue;
@c2: gainsboro;
@c3: rgb(245, 204, 69);
@c4: rgb(174, 140, 47);

#enqueteke{
  background: @c1;
  color: white;
}
#le-sexe-de-medor{
  background: @c2;
}
#droit-de-suite{
  background:  @c3;
}
#projet-qui-fache{
  background:  @c3;
}
#aire-libre{
  background: @c2;

}
#fulguropoint{
  background: @c4;
}
#medor-a-jouer{
}
#medor-web{
  background:  @c3;
}
#le-nombril{
  background: @c1;
  color: white;
}

// ___ IMAGES ___
#paroles-dados-dealers{
  background-image: url('https://medor.coop/media/images/1_les_poches_vides_les_idees_noires.original.jpg');
  background-position: 38% 100%;
  background-size: auto 100%;
  color: white;
}
#enquete-plastique{
  background-image: url('https://medor.coop/media/images/medor_anversRVB.original.jpg');
  background-position: 0 37%;
  background-size: 184%;
}
#enquete-sur-infrabel{
  background-image: url('https://medor.coop/media/images/MEDOR-TRAIN-01.original.jpg');
  background-position: 0 99%;
  background-size: 335%;
  h1{
    text-shadow: 0 0 12pt lavender;
  }
}
#travail-adapte{
  background-image: url('https://medor.coop/media/images/agnes1small_mnLJ9ae.original.png');
  background-position: 78.25% 80%;
  background-size: 280%;
}
#david-clarinval{
  background-image: url('https://medor.coop/media/images/clarinval_ombre.original.png');
  background-position: 80% 75%;
  background-size: 185%;
  color: white;
  .pagination{
    color: black;
  }
}
#vinciane-debaille{
  background-image: url('https://medor.coop/media/images/PLANETE_OK.original.jpg');
  background-position: 50% 12%;
  background-size: 120%;
  color: white;
}

//--- page2

#sanspapiers{
  background-image: url('https://medor.coop/media/images/3_yFIari7.original.jpg');
  background-position: 0 0;
  background-size: 120%;
  color: white;
  .pagination{
    color: black;
  }
}

#le-fonds-des-accidents-medicaux{
  background-image: url('https://medor.coop/media/images/colone-classeur02_UQarTj2.original.png');
  background-position: 10% 100%;
  background-size: 115%;
}
#le-mal-du-siecle{
  background-image: url('https://medor.coop/media/images/dessin-isole-4-5mm-bleeds.original.jpg');
  background-position: 72% 25%;
  background-size: 160%;
}
#evras{
  background-image: url('bd-nb.png');
  background-position: 0% 80%;
  background-size: 100%;
}
#climat{
  background-image: url('SynthLait.png');
  background-position: 70% 100%;
  background-size: 77.5%;
}

// ___ ADJUST ___

#enqueteke{
  margin-bottom: 24pt;
}
#le-sexe-de-medor{
  margin-bottom: 24pt;
}
#enquete-plastique{
  margin-top: -24pt;
  margin-bottom: 24pt;
}

#paroles-dados-dealers{
  margin-bottom: -24pt;
}

#droit-de-suite{
  margin-top: -6pt;
}
#travail-adapte{
  margin-top: -24pt;
  margin-bottom: 6pt;
}

#enquete-sur-infrabel{
  margin-top: 24pt;
}

#projet-qui-fache{
  margin-right: 18pt;
}
#fulguropoint{
  margin-right: 18pt;
}

#aire-libre{
  margin-left: 24pt;
}
#medor-a-jouer{
  margin-left: 24pt;
}

#medor-web{
  margin-right: -24pt;
}
#le-nombril{
  margin-left: 24pt;
}
